.header {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

.mainContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.contBody{
  margin-bottom: 40px;
    border: solid brown 3px;
    width: 250px;
    text-align: center;
    height: min-content;
    padding: 12px;
    border-radius: 8px;
}

.contHead{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.textHead {
  font-size: x-large;
}

.minButton{
  font-size: x-large;
}

.valueFont{
    font-size: x-large;
    margin-bottom: 14px;
}

.minimizedCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.minValues {
  font-size: x-large;
}

input[type=range] {
  width: 90%;
}

@media screen and (orientation: portrait) {
  .mainContainer {
    display: block;
    margin-top: 100px;
  }

  .contBody {
    margin-bottom: 200px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    transform: scale(2);
  }

  .valueFont {
    font-size: xx-large;
  }

  input[type=range] {
    transform: scale(2);
    width: 50%;
  }

  .contHead {
    font-size: xx-large;
  }

  input[type=checkbox] {
    transform: scale(2);
  }

  .minimizedCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .minHead {
    font-size: xx-large;
  }

  .minValues {
    font-size: xx-large;
  }
}